<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/vicaima_logo.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="fas fa-home text-primary"></i>
              <span class="nav-link-text">Home</span>
            </a>
          </li>
          {% if user.is_superuser or user.is_staff %}
          <li class="nav-item">
            <a class="nav-link {% if 'dashboard' in segment %} active {% endif %}" href="/dashboard/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
		      {% endif %}
		  
          {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link {% if 'admin' in segment %} active {% endif %}" href="/admin/">
                <i class="ni ni-planet text-orange"></i>
                <span class="nav-link-text">Admin</span>
              </a>
            </li>
          {% endif %}

          {% if user.is_superuser or user.is_staff %}
          <li class="nav-item">
			      <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables/">
			        <i class="ni ni-bullet-list-67 text-default"></i>
			        <span class="nav-link-text">Avaliações</span>
			      </a>
		      </li>
		      {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Sair</span>
            </a>
          </li>

        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

			  <li class="nav-item">
				<a class="nav-link active active-pro" 
				   target="_blank" 
				   href="https://www.42porto.com/">
				  <i class="ni ni-send text-dark"></i>
				  <span class="nav-link-text">42 Porto</span>
				</a>
			  </li>
	
        </ul>
      </div>
    </div>
  </div>
</nav>

